:root {
    --accent-color: #2196F3;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.header-portfolio{
    display:flex;
    align-items:center;
    justify-content: center;
    padding: 25px;
    border-bottom:  1px solid #757575;
}
.header {
    display:flex;
    align-items:center;
    justify-content: center;
    padding: 25px;
}

.logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-style: bold;
    Font-size: 26px;
    line-height: 1.19;
    text-align: left;
    vertical-align: top;
    letter-spacing: 0.03em;
    text-decoration: none;
    padding-right: 50px;
}
.Web {
    color: var(--accent-color);
}
.Studio{
    color: #000000;
}

.links{
    list-style: none;
    display:inline-flex;
    justify-content: space-between;
    align-items: center;
}
    
.nav-links {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: center;
   list-style: none;
    display:inline-flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    text-decoration: none;
    color: #212121;
}
.nav-links-studio-one{
    text-decoration: none;
    color: var(--accent-color);
    display: flex;
    align-items: center;
    padding-right: 50px;
}
.nav-links-portfolio-two{
    text-decoration: none;
    color: var(--accent-color);
    display: flex;
    align-items: center;
    padding-right: 50px;
}

.nav-links-contacts{
    text-decoration: none;
    color: #212121;
    display: flex;
    align-items: center;
} 
.icon-envelope{
    padding-right:10px;
}
.icon-phone{
    padding-right: 10px;
}
.email{
    font-family: "roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    text-decoration: none;
    padding-right:50px;
    padding-left: 331px;
}
.email-two{
    font-family: "roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    padding-right:50px;
    padding-left: 331px;
}
.address-header:hover,
.address-header:focus,

.address-header{
    display: inline;
}

.phone{
    font-family: "roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}   

.hero {
    background-color: #2f303a;
    width: 100%;
    margin-top: 70px;
    margin: 0 auto;
    padding: 200px 0;
    text-align: center;
}

.hero-title{
    font-family: "roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    Text-transform: Uppercase;
    color: #ffff;
    width: 696px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
body {
    background-color: #ffff;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    list-style: none;
    margin: 0;
}
.team {
    background-color: #F5F4FA;
    padding-bottom: 94px;
    padding-top: 94px;
}
.button-index {
    font-family: "roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.06em;
    color: #fff;
    background-color: var(--accent-color);
    box-shadow: 0px, 4px, 4px, rgba(0,0,0,0.15);
    border-radius: 4px;
    border: none;
    min-width: 200px;
    height: 50px;
    left: 500px;
    top: 630px;
    cursor: pointer;
}
.button {
    font-family: "roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.06em;
    color: #fff;
    background-color: var(--accent-color);
    box-shadow: 0px, 4px, 4px, rgba(0,0,0,0.15);
    border-radius: 4px;
    min-width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    cursor: pointer;
}
.features {
    padding-top: 94px;
    padding-bottom: 94px;
}
.list {
    list-style: none;
    justify-content: space-between;
    display: flex;
}
.b-heading {
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-top: 94px;
}
.text {
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;
    width: 270px;
    height: 75px;
    margin-top: 10px;
}
*, ::after, ::before{
    box-sizing: border-box;
}
.main{
    background: #fff;
}
.picture-list{
    list-style: none;
    /* margin-top: -30px; */
    display: flex;
    flex-wrap: wrap;
    /* padding-bottom: 94px; */
    /* padding-right: 30px; */
}
.pictures-heading{
   font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    display: block;
    padding-bottom: 50px;
}
.pictures{
    padding-bottom: 94px;
}
.team-heading{
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding-bottom: 50px;
}
.photo{
    width: 100%;
    height: auto;
    display: block;
}
.name{
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1875;
    letter-spacing: 0.03em;
    color: #212121;
    list-style: none;
    margin-bottom: 10px;
}
.name-index{
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    list-style: none;
    margin-top: 30px;
    margin-bottom: 10px;
}
.image{
    width: 100%;
    height: auto;
    display: block;
}
.image-one{
    padding-right: 30px;
    width: 370px;
}

.description{
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #757575;
    list-style: none;
    line-height: 1.1875;
}
.description-index{
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    list-style: none;
    margin-bottom: 30px;
}
.footer{
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
.address{
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #ffff;
    margin-top: 25px;
}
.contact-info{
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: rgba(255,255,255,0.6);
    text-decoration: none;
    margin-top:10px;
    display: block;
}
.buttons {
    font-family: "roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    list-style: none;
    flex-wrap: wrap;
    display: inline-block;
    padding-right: 8px;
    cursor: pointer;
    border: none;
}
.main-button{
    font-family: "roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0,0,0,0.1), 0px 1px 2px rgba(0,0,0,0.08), 0px, 2px, 2px rgba(0,0,0,0.12);
    border-radius: 4px;
    list-style: none;
    cursor: pointer;
    border: none;
}
.button-section {
    margin-bottom: 50px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
}
.cards {
    margin-bottom: 94px;
}
.cards-section{
    justify-content:space-between;
    padding-top: 94px;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.card-description{
    padding: 20px 24px;
    line-height: 1.5;
    text-align: left;
}
.card-two{
    border: 1px solid #eee;
    width: 370px;;
    margin-right: 30px;
    margin-bottom: 30px;
}
.card-two:nth-child(3n) {
    margin-right: 0;
}
.card-two:nth-last-child(-n+3) {
    margin-bottom: 0;
}
.card {
    background: #fff;
    border: 1px solid #eee;
    box-sizing: border-box;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 100%;
    margin: 0 15px;
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.Studio-footer{
    color: #fff;
}